// DATABASE
DATABASE_URL="postgresql://username:password@localhost:5432/nhat_jewerly?schema=public"

// AUTH
NEXTAUTH_SECRET="your-super-secret-key-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

// EMAIL (Resend - https://resend.com)
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxx"
CONTACT_EMAIL="admin@nhatjewerly.com"

// IMAGE UPLOAD (Uploadthing - https://uploadthing.com)
UPLOADTHING_TOKEN="eyJhcGlLZXkiOiJxxxxxxxx..."

// APP
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_NAME="NHẬT JEWERLY"
